[project]
	description = proj-test1
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SachinRoyQB
[access "refs/for/refs/*"]
	read = group user/SachinRoyQB
	push = group user/SachinRoyQB
	label-Code-Review = -2..+2 group user/SachinRoyQB
	label-Verified = -1..+1 group user/SachinRoyQB
	rebase = group user/SachinRoyQB
	removeReviewer = group user/SachinRoyQB
	submit = group user/SachinRoyQB
[access "refs/heads/*"]
	read = group user/SachinRoyQB
	create = group user/SachinRoyQB
	push = +force group user/SachinRoyQB
	pushMerge = group user/SachinRoyQB
[access "refs/tags/*"]
	push = group user/SachinRoyQB
	push = +force group user/SachinRoyQB
